@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap');
* {
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	font-family: 'Titillium Web', sans-serif;
}

.head {
	width: 100%;
	height: 250px;
	background-color: #336699;
}

.foot {
	width: 100%;
	height: 500px;
	background-color: #e6e6e6;
}

.regform {
	position: absolute;
	left: 550px;
	top: 160px;
}

.rfooter {
	width: 350px;
	height: 300px; 
	background-color: white;
	box-shadow: 0px 0px 1px grey;
	border-radius: 3px 3px 3px 3px;
	padding-top: 50px;
	padding-left: 50px; 
}

.rheader {
	height: 30px;
	text-align:left;
}
.link {
	padding: 30px;
	color: white;
}
.next {
	float: right;
	color: white;
	font-weight: bold;
}
.sign {
	font-size: 20px;
}
.please {
	font-size: 14px;
	color: lightgrey;
}
.welcome {
	height: 130px;
}
#code {
	width:30px;
	border: none;
	border-bottom: 1px solid grey;
}

#code:hover {
	border-bottom: 2px solid grey;
}
.numb {
	padding-right: 70px;
	float: right;
	position: relative;
	bottom: 25px;
}

#number {
	border: none;
	border-bottom: 1px solid grey;
}
#number:hover {
	border-bottom: 2px solid grey;
}

label {
	font-size: 13px;
	color: grey;
}